COSMOS_LLM_API_KEY=
COSMOS_LLM_MODEL=gpt-5-mini
COSMOS_LLM_BASE_URL=https://aiplatform.dev51.cbf.dev.paypalinc.com/cosmosai/llm/v1
COSMOS_LLM_TIMEOUT_SECONDS=45
COSMOS_LLM_MAX_TOKENS=1200

RPS_DYNSEG_BASE_URL=https://msmaster.qa.paypal.com:20068/v1/dynsegmentationserv
RPS_REQUEST_TIMEOUT_SECONDS=45
